<div class="card">
    <div class="card-content">
        <span class="card-title">Add a new item to the database</span>
        <form (ngSubmit)="onSubmit()" class="col s6">
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" placeholder="Add Title" name="title" [(ngModel)]="item.title">
                </div>
                <div class="input-field col s8">
                    <input type="text" placeholder="Add Description" name="description" [(ngModel)]="item.description">
                </div>
                <input type="submit" value="Add Item" class="btn">
            </div>
        </form>
    </div>
</div>